* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
  background: seagreen;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px 0 0;
  color: white;
}

.top-bar {
  max-width: 480px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: left;
}

.top-bar__title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.top-bar__search {
  float: right;
}

.top-bar__search-input {
  max-width: 135px;
}

.toggle-menu {
  display: inline-block;
  transform: rotate(90deg);
  cursor: pointer;
}

.sort-bar {
  max-width: 460px;
  padding: 5px 0px 10px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: right;
  border-top: 2px dotted;
  background: rgba(255, 255, 255, 0.2);
}

.sort-bar__link {
  display: inline-block;
  margin: 0 5px;
  border-bottom: 1px dashed #fff;
  color: gold;
  cursor: pointer;
}

.sort-bar__link_active {
  border-bottom: 2px solid gold;
}

.List {
  max-width: 480px;
  margin: 20px auto;
  padding: 0 10px;
  text-align: left;
}

.List__item {
  position: relative;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  list-style-position: inside;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.List__item-date {
  position: absolute;
  width: 20%;
  left: 78%;
  font-size: 10px;
  text-align: right;
}

.task-form {
  max-width: 480px;
  padding: 0 10px;
  margin: 0 auto;
}
.task-form input,
.task-form textarea,
.task-form button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.task-form input {
  width: 85%;
  float: left;
}
.input-title {
  clear: both;
}
.input-title__chars {
  width: 15%;
  float: right;
  margin: 10px 0;
  font-size: 10px;
  color: gray;
}

textarea {
  resize: vertical;
}
